#each-repo {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  margin-bottom: -5px;
  color: rgb(68, 68, 68);
  /* background-color: forestgreen; */
}


.view-more{
  margin-left: 5px;
  text-decoration: none;
  font-size: 16px;
  color: rgb(68, 68, 68);
}

#codensite-container{
  /* background-color: red; */
  margin: 0;
}

.codensite{
  color: rgb(68, 68, 68);
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

#code {
  margin-right: 7px;
}